#svgDiv {
	width: 30vw;
	height: 50vh;
	margin-right: 10vw;
	float: left;
}

#svgDiv svg {
	border: 1px solid red;
}

.controlsDiv {
	height: 40%;
	width: 25%;
	float: left;
	overflow-y: auto;
	border: 20px solid white;
}